.activelogs {
  .wrapper {
    width:93%;
    margin: 0 auto;
    max-height: 160px;
    overflow-y: auto;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #D9D9D9;
      border-radius: 4px;
    }
  }
}
.activelog-child {
  display: flex;
  padding-bottom: 15px;
  gap: 3px;
  justify-content: space-between;
  align-items: baseline;
  color: #545454;
  border-bottom: 0.5px solid #D9D9D9;
  margin-bottom: 5px;
  h3 {
    font-size: 15px;
    margin: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
  div {
    display: flex;
    flex-direction: column;
    span {
      font-size: 12px;
    }
  }
}
