.domainqota{
    .box{
        .head{
            padding:18px 0px 0px 20px;
        }
    }
}
.domain {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .data-usage {
    display: flex;
    height: 70px;
    gap:10px;
    .perdata {
      display: flex;
      flex-direction: column;
      span:nth-child(1) {
        font-size: 13px;
        color: #909090;
      }
      span:nth-child(2) {
        font-size: 16px;
        color: #000;
      }
    }
  }
  .domain-child {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      display: flex;
      flex-direction: column;
    }
    div:nth-child(1) {
      span:nth-child(1) {
        color: rgba(144, 144, 144, 0.6);
        font-size: 9.9px;
      }
      span:nth-child(2) {
        color: #000;
        font-size: 13px;
      }
    }
    div:nth-child(2) {
      span:nth-child(1) {
        color: #3cc25a;
        font-size: 4.9px;
      }
      span:nth-child(2) {
        color: #909090;
        font-size: 9.7px;
      }
    }
  }
}
